NEXT_PUBLIC_SUPABASE_URL=https://yespdeowdbotjtchaxbn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inllc3BkZW93ZGJvdGp0Y2hheGJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5MjcxOTMsImV4cCI6MjA4OTUwMzE5M30.4NRQ1K83izeYjBToh9AiHZere9bQ0s1Wxa90m1f83M0
