@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white font-sans text-slate-950 antialiased;
  }

  ::selection { @apply bg-sky-200 text-slate-950; }
}
